/* RESET */
:root {
  --red: hsl(338deg 80% 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MAIN */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--red);
}

.text-input-label {
  color: var(--red);
  font-weight: bold;
}

.text-input > input,
select {
  border: 2px solid var(--red);
}

.my-btn {
  border: 2px solid gray;
  color: var(--red);
  background-color: lightgray;
  font-weight: bold;
  font-size: 1.2rem;
}

.my-btn:focus {
  border: 2px solid orangered;
}
